<header class="header">
  <!--HEADER MENU SECTION-->
  <div class="header__content">
    <a href="/">
      <img class="header__img" src="/src/pics/KINO-logo.png" alt="Logo" />
    </a>
    <button class="header__hamburger-menu" aria-label="Open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="header__nav">
      <ul class="header__menu-list">
        <li class="header__menu-item menu-desktop movies">
          <button class="btn-menu btn-menu--one">Filmer idag</button>
          <ul class="header__dropdown">
            <li class="header__dropdown-item">
              <a href="#">För över 18 år</a>
            </li>
            <li class="header__dropdown-item">
              <a href="#">För hela familjen</a>
            </li>
          </ul>
        </li>
        <li class="header__menu-item menu-desktop">
          <button class="btn-menu btn-menu--one">Kommande</button>
          <ul class="header__dropdown">
            <li class="header__dropdown-item">
              <a href="#">För över 18 år</a>
            </li>
            <li class="header__dropdown-item">
              <a href="#">För hela familjen</a>
            </li>
          </ul>
        </li>
        <li class="header__menu-item menu-desktop">
          <button class="btn-menu btn-menu--one">På bio</button>
          <ul class="header__dropdown">
            <li class="header__dropdown-item">
              <a href="./bistro.html" data-route="./bistro.html"
                >Bistro och mat</a
              >
            </li>
            <li class="header__dropdown-item">
              <a href="./eventPage.html">Evenemang</a>
            </li>
          </ul>
        </li>

        <li class="header__menu-item menu-desktop-xlarge">
          <button class="btn-menu btn-menu--one">Mer...</button>
          <ul class="header__dropdown">
            <li class="header__dropdown-item"><a href="#">Om oss</a></li>
            <li class="header__dropdown-item"><a href="#">Boka salen</a></li>
            <li class="header__dropdown-item"><a href="#">Jobba hos oss</a></li>
            <li class="header__dropdown-item">
              <a href="#">Köpa presentkort</a>
            </li>
          </ul>
        </li>
        <li class="header__menu-item menu-desktop menu-contact">
          <button class="btn-menu btn-menu--one" data-route="./contact">
            Kontakta Oss
          </button>
        </li>
        <li class="header__menu-item menu-medium login">
          <button class="btn-menu btn-menu--two">Logga in</button>
        </li>
        <li class="header__menu-item menu-hide-medium">
          <button class="btn-menu btn-menu--two">Bli medlem</button>
        </li>
        <li class="header__menu-item menu-medium language">
          <button class="btn-menu btn-menu--language">Språk</button>
          <ul class="header__dropdown">
            <li class="header__dropdown-item"><a href="#">Svenska</a></li>
            <li class="header__dropdown-item"><a href="#">Engelska</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
