<!DOCTYPE html>
<html lang="sv" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Roboto Google font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/src/styles/main.css"
    />
    <script type="module" src="./src/scripts/main.js"></script>
    <base href="/" />
  </head>
  <body></body>
</html>
