<% include('../partials/head', { title: '500 - Kino' })%>
<%- include('../partials/header') %>
<main class="main">
    <section class="main__heroText">
        <h1 class="main__heroHeading">500</h1>
        <p class="main__heroText__p"><%= title %></p>
        <a href="/" class="btn btn--secondary">Till startsidan</a>
    </section>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/end') %>