<%- include ('../partials/head',{title:" Kino - Evenemang"}) %>
<%- include ('../partials/header') %>
 <main class="main events">
    <section class="events__hero">
      <img src="src/pics/KINO-event.png" alt="man sitting in theatre holding the head of a skeleton" />
    </section>
    <h1 class="events__hero-text">Evenemang</h1>


    <section class="events__popular">
      <h2 class="events__popular-headline">Populära</h2>
      <div class="events__popular-list">
        <article class="event-card">
          <h3 class="event-card__headline">Hamlet</h3>
          <img src="src/pics/KINO-event.png" class="event-card__image"
            alt="man sitting in theatre holding the head of a skeleton" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>

        <article class="event-card">
          <h3 class="event-card__headline">Hamlet</h3>
          <img src="src/pics/KINO-event.png" class="event-card__image"
            alt="man sitting in theatre holding the head of a skeleton" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>

        <article class="event-card">
          <h3 class="event-card__headline">Hamlet</h3>
          <img src="src/pics/KINO-event.png" class="event-card__image"
            alt="man sitting in theatre holding the head of a skeleton" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>
      </div>
      <a href="#" class="events__moreBtn btn btn--primary">Se mer</a>
    </section>

    <section class="events__upcoming">
      <h2 class="events__upcoming-headline">Kommande</h2>
      <div class="events__upcoming-list">
        <article class="event-card">
          <h3 class="event-card__headline">Fira in hösten</h3>
          <img src="src/pics/KINO-movie-poster2.png" class="event-card__image" alt="A poster of a childrens movie" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>

        <article class="event-card">
          <h3 class="event-card__headline">Fira in hösten</h3>
          <img src="src/pics/KINO-movie-poster2.png" class="event-card__image" alt="A poster of a childrens movie" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>

        <article class="event-card">
          <h3 class="event-card__headline">Fira in hösten</h3>
          <img src="src/pics/KINO-movie-poster2.png" class="event-card__image" alt="A poster of a childrens movie" />
          <div class="event-card__footer">
            <img src="src/pics/KINO-klassiker.png" class="event-card__logo" alt="logotype for classics in Kino" />
            <button class="btn event-card__button">Boka</button>
          </div>
        </article>
      </div>
      <a href="#" class="events__moreBtn btn btn--primary">Se mer</a>
    </section>

    <!-- This is the welcome-section, copied from index.html -->
    <div class="main__welcome">
      <h2 class="main__welcome__title">Välkommenn till KINO i Uppsala!</h2>
      <p class="main__welcome__moto">Av filmälskare - för film älskare</p>

      <div class="main__welcome__container">
        <div class="main__welcome__item">
          <img class="main__welcome__img" src="src/pics/KINO-arc.webp" alt="Kino lysande båge" />
          <a href="about-us.html"><button class="btn btn--secondary">Mer om oss</button></a>
        </div>

        <div class="main__welcome__item">
          <img class="main__welcome__img" src="src/pics/KINO-bistro.webp" alt="Kino bistro" />
          <a href="bistro.html"><button class="btn btn--secondary">Till bistro</button></a>
        </div>

        <div class="main__welcome__item">
          <img class="main__welcome__img" src="src/pics/KINO-cinemahall-seats.webp" alt="Kino biograf sal med bord" />
          <a href="#"><button class="btn btn--secondary">Boka salen</button></a>
        </div>

        <div class="main__welcome__item">
          <img class="main__welcome__img" src="src/pics/KINO-street.webp" alt="Kino utsikt från gatan" />
          <a href="eventPage.html"><button class="btn btn--secondary">Evenemang hos oss</button></a>
        </div>
      </div>
    </div>
  </main>
<%- include ('../partials/footer') %>
<%- include ('../partials/end') %>
